@import '../libs/variables';

.categ_wrapper {
  margin: 20px 70px;
  @media (max-width: 580px) {
    margin: 10px 70px;
  }
  @media (max-width: 440px) {
    width: 100%;
  }
}

.categ_items {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}

.categ_item {
  width: 120px;
  height: 40px;
  background-color: lighten($color: $orange, $amount: 15);
  border-radius: 20px;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  @media (max-width: 1050px) {
    width: 90px;
    height: 30px;
    font-size: 14px;
  }
  @media (max-width: 580px) {
    width: 48px;
    height: 30px;
    font-size: 10px;
  }

  &:hover {
    background-color: $orange;
  }
}

.active {
  background-color: $orange;
  cursor: auto;
  &:hover {
    transform: none;
    background-color: $orange;
  }
}
