@import '../../scss/libs/variables';

.header {
  height: 60px;
  margin: 20px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 500px) {
    margin: 14px 12px;
  }

  &_middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 50px;
  }

  .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 5px;

    &_img {
      width: 60px;
      height: 60px;

      @media (max-width: 780px) {
        width: 40px;
        height: 40px;
      }

      @media (max-width: 440px) {
        display: none;
      }
    }

    &_text {
      margin: -3px 0 0 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @media (max-width: 780px) {
        margin: -3px 0 0 4px;
      }
      h2 {
        font-family: $text-title;
        font-size: 32px;
        color: $orange;

        @media (max-width: 780px) {
          font-size: 22px;
        }
      }

      h3 {
        color: #000;
        font-size: 20px;

        @media (max-width: 780px) {
          font-size: 10px;
        }
      }
    }
  }

  .nav {
    display: flex;
    gap: 40px;

    @media (max-width: 780px) {
      font-size: 12px;
      gap: 21px;
    }

    @media (max-width: 390px) {
      font-size: 10px;
      gap: 14px;
    }

    &_link {
      text-decoration: none;
      color: #000;
    }
  }

  .cart {
    display: flex;
    text-decoration: none;
    position: relative;
    color: #000;

    &_img {
      @media (max-width: 780px) {
        width: 30px;
        height: 30px;
      }
    }

    &_count {
      position: absolute;
      top: 0;
      right: 40px;
      font-size: 10px;
    }

    &_total {
      @media (max-width: 780px) {
        font-size: 14px;
      }
    }

    p {
      display: flex;
      align-items: center;
      margin-left: 8px;
      position: relative;
      top: 2px;
    }
  }
}
